body
{
    background-color:white;
}
div[id=main]
{
    background-color:beige;
    border:2px dashed black;
    width:1200px;
    height:1000px;
    margin-left:65px;
    border-radius:50px;
    margin-top:30px;
}
img[id=logol]
{
    margin-left:20px;
    margin-top:20px;
    
}
img[id=logor]
{
    margin-left:950px;
    margin-top:20px;
    
}
h1
{
    margin-top:-100px;
    text-align:center;
    font-size:44px;
    font-family:monospace;
    text-transform:uppercase;
    color:crimson;
    text-decoration-color: aqua;
}
div[id=head]
{
    width:1200px;
    height:150px;
    background:linear-gradient(orange,yellow,beige 90%);
    border-radius:50px;
}
h2
{
    text-align:center;
    text-transform:capitalize;
    font-size:25px;
    color:blue;
    font-family:sans-serif;
    margin-top:-28px;
    
    }
h3
{
    text-align:center;
    text-transform:capitalize;
    font-size:20px;
    color:darkblue;
    font-family:sans-serif;
    margin-top:-10px;
    
    }
button
{
    width:250px;
    height:50px;
    background:linear-Gradient(grey,black);
    border-radius:20px;
    color:aqua;
    font-family:monospace;
    font-size:25px;
    margin-top:15px;
}
div[id=btn]
{
    width:1200px;
    height:80px;
    text-align:center;
   background:linear-gradient(skyblue,beige,skyblue);
    border-radius:50px;
}