div
{
    width:auto;
    height:auto;
    border:2px solid black; 
}
h1
{
    text-align:center;
    background:radial-gradient(red,blue);
    margin-left:350px;
    margin-right:350px;
    border-radius:20px;
    color:white;
    font-family:cursive;
}
form,input
{
    font-size:25pt;
    text-transform:uppercase;
    text-align:center;
}
